
#temporary sources
*.swp

#compiled files
*.pyc

#ignore on-file tuning results

to_be_ignored/**
!to_be_ignored/.gitkeep

interface/**
!interface/.gitkeep

spearmint_space/output/**
spearmint_space/Plots/**
!spearmint_space/Plots/.gitkeep

results/**
!results/.gitkeep

pythia_space/Output_text/**
!pythia_space/Output_text/.gitkeep

pythia_space/Output_csv/**
!pythia_space/Output_csv/.gitkeep
!pythia_space/Output_csv/output_bin_errors_Monash.csv
!pythia_space/Output_csv/output_bin_contents_Monash.csv


#ipython notebook
.ipynb_checkpoints

#system generated things
.DS_Store
