
#temporary sources
*.swp

#compiled files
*.pyc

#ignore on-file tuning results

#./spearmint_space/output/*
#./spearmint_space/Plots/*

#./results/*

#./pythia_space/Output_text
#./pythia_space/Output_csv


#ipython notebook
.ipynb_checkpoints

#system generated things
.DS_Store
